.backGroundcolour {
    display: flex;
    background-color: #2a363b;
    width: 100%;
    justify-content: center;
}

.shadowRect {
    display: flex;
    position: absolute;
    align-items: center;
    background-color: #ff847c;
    height: 400px;
    width: 700px; 
    top: 150px;
    left: 280px;
}

.upperRect {
    display: flex;
    position: absolute;
    align-items: center;
    background-color: #292d3a;
    box-shadow: -5px -5px 15px #1a1010bd;
    height: 400px;
    width: 700px; 
    top: 180px;
    left: 310px;
}
